body{
  background-color: #88bdbc;
  color: #6e6658;
  font-family: arial, helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-transform: uppercase;
  border-top: 4px solid #112d32;
  border-bottom: 4px solid #112d32;
  background-color: #254e58;
}
